body{
    font-family: 'Catamaran', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.colored-text{
    color: rgb(64, 184, 221);
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 17, 255),rgb(71, 187, 255));
    color: white;
    font-weight: 800;
    padding: 10px 30px;
    border-radius: 50px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.flexable-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width img{
    width: 80%;
}
.banner{
    background-image: url(image/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
footer{
    text-align: center;
    background-color: #000033;
    padding: 50px;
    color: white;
}